@import "element-plus/theme-chalk/src/index.scss";
// 修复 消息确认弹窗样式
.el-message-box__status {
  position: absolute !important;
}
// 修复 输入框 图片位置居中
.el-input__suffix-inner {
  align-items: center;
}
// 修复 表格 内部loading 不显示 右侧和底部boder
.el-table {
  .el-loading-mask {
    right: 1px;
    bottom: 1px;
  }
}
